.modal-backdrop.fade {
  z-index: @layer-modal;
}

.fade.modal {
  z-index: @layer-modal;
}

.modal-content {
  border-radius: 3px;
}

// .ListGroup .link-label {
//   padding-left: 12px;
// }

// .input-group input[type="text"] {
//   margin-bottom: 20px;
// }

// .help-block {
//   color: @brand-primary;
// }
