#LeftDrawer {
  display: none;
  position: fixed;
  width: @drawer-width;
  // overflow: auto;
  // overflow-y: auto;
  // overflow-x: hidden;

  top: 47px;
  bottom: 0;
  left: 0;

  background: white;
  z-index: @layer-nav - 10;
  box-shadow: 4px 20px 20px 5px rgba(0, 0, 0, 0.035);
  opacity: 1;
  border-right: 1px solid lighten(lightgray, 8%);
  padding: 18px 0 0 0;

  .LeftDrawer-padding {
    padding: 0 15px 10px 15px;
  }

  &.LeftDrawerOpen {
    display: block;
  }

  .gitlab-icon a {
    color: lightgray;
    i {
      font-size: 30px;
    }
  }

  .btn-toolbar.search-and-clear {
    margin-top: 1px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;

    .clear-button {
      visibility: visible;
      &.disabled {
        visibility: hidden;
      }
      &.full-width {
        width: 100%;
      }
    }

    .clear-button-placeholder {
      visibility: visible;
      display: inline-block;
      position: relative;
      color: lighten(@text-color, 30%);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 90%;
      top: 25px;
      left: 28px;
      &.disabled {
        visibility: hidden;
      }
    }

    // .search-button {
    //   width: 61%;
    //   &.full-width {
    //     width: 100%;
    //   }
    //   &.disabled {
    //     display: none;
    //   }
    // }
  }


  #source-selector {
    .nav-tabs > li a {
      color: lighten(@text-color, 30%);
      border: 1px solid lightgray;
      border-bottom: none;
      text-transform: uppercase;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      background-color: #fcfcfc;
      color: lighten(#676767, 20%);
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .tab-content {
    background-color: #fcfcfc;
  }

  #source-selector-tab-1 {
    margin-left: 10px;
  }

  #facets {
    font-family: @font-family-sans-serif;
    padding: 0 0 20px 0;

    dl.collapsed dd {
      display: none;
    }

    dl.facet {
      font-size: 1.1em;
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 7px;
      margin: 5px 0 0 0;

      // Expander
      // height: 200px;
      // overflow: hidden;
      //
      // &.expanded {
      //   height: auto;
      //   overflow: visible;
      // }


      &:first-of-type {
        margin-top: 0;
      }

      &.collapsed dt {
        border-bottom: none;
      }

      dt {
        padding-right: 18px;
        color: #222;
        cursor: pointer;
        margin-bottom: 0;
        padding: 6px 0;
        font-weight: normal;
        .facet-title {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: gray;
        }
        i.facet-control-icon {
          float: right;
          color: lighten(black, 70%);
          line-height: @line-height-base;
          font-size: 15px;
        }
      }

      dd {
        clear: left;
        font-size: 13px;
        overflow: hidden;
        padding: 1px 40px 0 0;
        position: relative;
        margin: 0;

        input {
          float: left;
          margin: 3px 4px 0 0;
          padding: 0;
          width: 13px;
          height: 13px;
        }

        label {
          width: 100%;
          cursor: pointer;
          padding: 4px 4px 4px 0;
          color: #676767;
          float: left;
          margin-bottom: 0;
          -moz-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: normal;

          &.active {
            .label-text {
              font-weight: bold;
              color: @brand-primary;
            }
          }
        }

        .facet-count {
          display: inline-block;
          position: absolute;
          top: 6px;
          right: 0;
          padding: 2px 2px 0 3px;
          font-size: 12px;
        }
      }
    }
  }
}
