#Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: @layer-nav;
  transform: translateZ(0);
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.030);

  #Navbar-wrapper {
    background: #FFF none repeat scroll 0% 0%;
    border-bottom: 1px solid #E8E8E8;
    min-width: 0;
    padding-top: 9px;
    position: relative;
    padding-bottom: 11px;
    padding-left: 27px;
    padding-right: 27px;

    #Navbar-inner {
      margin: 0 auto;

      #logo {
        float: left;
        position: relative;
        width: 202px;
        margin-top: 2px;

        a#LeftDrawer-toggle {
          float: left;
          color: lighten(black, 60%);
          border: 1px solid lightgray;
          padding: 2px 11px;
          border-radius: 3px;

          &:hover, &:active, &.active {
            color: white;
            background-color: @brand-primary;
            border: 1px solid @brand-primary;
          }
          .fa.fa-bars {
            border: none;
          }
        }
      }

      #signin {
        float: right;
        margin-left: 25px;

        #avatar {
          a {
            img {
              height: 27px;
              width: 27px;
              border-radius: 100%;
            }
          }
        }

        .gitlab-icon a {
          color: lightgray;
          &:hover {
            // color: #ff6c0e;
            color: gray;
          }
          i {
            font-size: 30px;
          }
        }

        #RightDrawer-toggle {
          position: relative;
          color: lighten(black, 60%);
          border: 1px solid lightgray;
          padding: 4px 11px;
          float: right;
          display: inline-block;
          margin-left: 27px;
          border-radius: 3px;

          i.fa-hdd-o {
            transform: rotate(90deg);
            font-size: 20px;
          }
          .badge {
            font-size: 10px;
            color: #ffffff;
            position: absolute;
            bottom: -7px;
            right: -7px;
            background-color: black;
            padding-top: 2px;
            border-radius: 100%;
            display: block;
            height: 21px;
            width: 21px;
            text-align: center;
            border: 2px solid white;
          }

          &:hover, &:active, &.active {
            color: white;
            background-color: @brand-primary;
            border: 1px solid @brand-primary;
          }
        }

        #UserSettings-toggle {
          position: relative;
          color: lighten(black, 60%);
          font-size: 33px;
          float: right;
          display: inline;
          margin-left: 27px;
          &:hover, &:active, &.active {
            color: lighten(black, 30%);
            cursor: pointer;
          }
        }
      }

      #Navbar-content {
        overflow: hidden;
        margin-top: 0;

        #Navbar-search {
          margin-top: 2px;
          // max-width: 649px;
          max-width: 600px;
          overflow: hidden;
          padding: 0;
          position: relative;

          .cancel-search-btn {
            float: right;
            box-sizing: border-box;
            cursor: pointer;
            color: gray;
            margin-left: 4px;
            padding: 0 6px;
            font-size: 26px;
            line-height: 24px;
          }

          #Navbar-search-terms {
            background-color: #FFF;
            font-size: 14px;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;

            input#Navbar-search-term {
              font-size: 12px;
              border: 1px solid lightgray;
              padding: 0 0 0 7px;
              width: 100%;
              line-height: 24px;

              &:focus {
                outline: 1px solid lighten(black, 90%);
              }
            }
          }
        }
      }
    }
  }
}

#app-title {
  display: inline-block;
  margin: 0 5px 0 25px;
  cursor: pointer;

  span.words {
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -0.1px;
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  }
  span.rig {
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    color: white;
    padding-right: 3px;
  }
  span.config {
    background-color: white;
    color: #767575;
    border: 1px solid @brand-primary;
    padding-right: 8px;
    padding-left: 2px;
    i.fa {
      color: lighten(#767575, 5%);
      transform: rotate(33deg); // illuminati confirmed.. (⌐■_■)
    }
  }
}

.GitlabLogoSvg {
  display: inline;
  opacity: 0.7;
  transition: opacity .10s ease-in;

  path {
    &.tanuki-left-ear {
      fill: lighten(black, 50%);
    }
    &.tanuki-right-ear {
      fill: lighten(black, 50%);
    }
    &.tanuki-nose {
      fill: lighten(black, 50%);
    }
    &.tanuki-left-eye {
      fill: lighten(black, 60%);
    }
    &.tanuki-right-eye {
      fill: lighten(black, 60%);
    }
    &.tanuki-left-cheek {
      fill: lighten(black, 70%);
    }
    &.tanuki-right-cheek {
      fill: lighten(black, 70%);
    }
  }

  &:hover {
    opacity: 1;

    path {
      &.tanuki-left-ear {
        fill: #e24329;
      }
      &.tanuki-right-ear {
        fill: #e24329;
      }
      &.tanuki-nose {
        fill: #e24329;
      }
      &.tanuki-left-eye {
        fill: #fc6d26;
      }
      &.tanuki-right-eye {
        fill: #fc6d26;
      }
      &.tanuki-left-cheek {
        fill: #fca326;
      }
      &.tanuki-right-cheek {
        fill: #fca326;
      }
    }
  }
}
